.css-y0d086-MuiButtonBase-root-MuiButton-root {
  min-width: 460px !important;
  padding: 10px !important;
  border-radius: 20px !important;
}
.css-a55yrn-MuiButtonBase-root-MuiButton-root {
  min-width: 100px !important;
}
