.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
}
button[type="submit"],
input[type="text"],
input[type="number"] {
  border-radius: 20px !important;
  padding: 15px !important;
}
.css-s6mni5-MuiGrid-root {
  border-radius: 10px !important;
}
.css-1wgn40h-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
}
