.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: green !important;
}
input[type="file"],
textarea {
  border-radius: 20px !important;
  padding: 13px !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 20px !important;
}
.css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
}

.css-1cprn2g-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 20px !important;
}
