.widget-cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;


  // Media queries for responsiveness
  // @media (min-width: 600px) {
  //   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // }

  // @media (min-width: 900px) {
  //   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.widget-cart-container > div {
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
