.css-1oifdkl-MuiFormControlLabel-root {
  margin-right: 220px !important;
}
.css-mkazzp-MuiButtonBase-root-MuiButton-root {
  min-width: 300px !important;
  border-radius: 20px !important;
  margin-right: 70px !important;
}
.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 20px !important;
}
.css-1hg68xu-MuiFormControlLabel-root {
  margin-right: 220px !important;
}
.css-1dsvkk7-MuiButtonBase-root-MuiButton-root {
  margin-left: 20px;
  width: 70%;
  border-radius: 20px !important;
}
